.App {
  background-color: black;
}

.App-header {
  padding: auto;
  position: sticky;
}

.App-header img {
  height: inherit;
  display: inline;
  background-color: white;
}

h1 {
  color: red;
  display: inline;
  width: fit-content;
  padding: .5rem;
}

/* navBtn Styling */

.navContainer {
  display: inline;
  margin-top: .3rem;
  margin-right: .3rem;
  float: right;
}

.navBtn {

  position: relative;
  float: right;
  width: 2rem;
  height: 2rem;
  }

/* navMenu Styling */
.navMenu {
  display: none;
  position: relative;
  background-color: darkslategray;
  width: 5rem;
  right: 0;
  padding: .3rem;
  border: 1px solid white;
  border-radius: 5%;
  margin-top: 2rem;
}

.navLink {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5%;
  color: white;
  padding: .3rem;
  background-color: darkslategray;
  display: block;
  text-align: center;
  text-decoration: none;
  height: 2rem;
}

.show {
  display: block;
}